<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name, { prompt: true }, { class: '' } %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.collection_select :store_id, Store.all, :id, :name, { prompt: true }, { class: '' } %>
  </div>
  <div class="field">
    <%= f.label :forwarder_id %><br>
    <%= f.collection_select :forwarder_id, Forwarder.all, :id, :name, { prompt: true }, { class: '' } %>
  </div>
  <div class="field">
    <%= f.label :produce_url %><br>
    <%= f.text_field :produce_url %>
  </div>
  <div class="field">
    <%= f.label :kibana_host %><br>
    <%= f.text_field :kibana_host %>
  </div>
  <div class="field">
    <%= f.label :kafka_topics %><br>
    <%= f.text_field :kafka_topics %>
  </div>
  <div class="field">
    <%= f.label :kafka_topic_partition %><br>
    <%= f.number_field :kafka_topic_partition %>
  </div>
  <div class="field">
    <%= f.label :heartbeat_url %><br>
    <%= f.text_field :heartbeat_url %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'w3-button w3-blue') %>
  </div>
<% end %>
