<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<div class="entities-panel">
  <table class="w3-table w3-bordered">
    <thead>
      <tr>
        <th class="column-id">#</th>
        <th class="column-name">Name</th>
        <th>Stream</th>
        <th>Store</th>
        <th>Forwarder</th>
        <th>Kibana host</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.id %></td>
          <td><%= service.name %></td>
          <td><%= service.stream.name %></td>
          <td><%= service.store.name %></td>
          <td><%= service.forwarder.name %></td>
          <td><%= service.kibana_host %></td>
          <td>
            <%= link_to 'Show', service, class: 'ctrl-link' %>
            <%= link_to 'Edit', edit_service_path(service), class: 'ctrl-link' %>
            <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ctrl-link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Service', new_service_path %>
