<h2>Service#<%= @service.id %></h2>
<p id="notice"><%= notice %></p>

<div class="show-group">
  <h3>General</h3>
  <p>
    <strong>id:</strong>
    <%= @service.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @service.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @service.description %>
  </p>
  <p>
    <strong>Heartbeat url:</strong>
    <%= @service.heartbeat_url %>
  </p>
  

</div>

<div class="show-group">
  <h3>Stream</h3>
  <p>
    <strong>Produce url:</strong>
    <%= @service.produce_url %>
  </p>
  <p>
    <strong>Stream:</strong>
    <%= @service.stream_id %>
  </p>
  <p>
    <strong>Kafka topics:</strong>
    <%= @service.kafka_topics %>
  </p>

  <p>
    <strong>Kafka topic partition:</strong>
    <%= @service.kafka_topic_partition %>
  </p>
</div>

<div class="show-group">
  <h3>Store</h3>
  <p>
    <strong>Store:</strong>
    <%= @service.store_id %>
  </p>
  <p>
    <strong>Kibana host:</strong>
    <%= @service.kibana_host %>
  </p>
</div>

<div class="show-group">
  <h3>Forwarder</h3>
  <p>
    <strong>Forwarder:</strong>
    <%= @service.forwarder_id %>
  </p>  
</div>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path, class: 'w3-button w3-light-grey' %>
