<%= form_for(@store, :html => {class: 'form'}) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <h4>General</h4>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="form-group">
    <h4>Elastic Stack</h4>
    <div class="field">
      <%= f.label :elasticsearch_host %><br>
      <%= f.text_field :elasticsearch_host %>
    </div>
    <div class="field">
      <%= f.label :kibana_host %><br>
      <%= f.text_field :kibana_host %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit(class: 'w3-button w3-blue') %>
  </div>
<% end %>
