<p id="notice"><%= notice %></p>

<h1>Listing Stores</h1>


<div class="entities-panel">
  <table class="w3-table w3-bordered">
    <thead>
      <tr>
        <th class="column-id">ID</th>
        <th class="column-name">Name</th>
        <th style="width: 200px;">Elasticsearch host</th>
        <th style="width: 200px;">Kibana host</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td>#<%= store.id %></td>
          <td><%= store.name %></td>
          <td><%= store.elasticsearch_host %></td>
          <td><%= store.kibana_host %></td>
          <td>
            <%= link_to 'Show', store, class: 'ctrl-link' %>
            <%= link_to 'Edit', edit_store_path(store), class: 'ctrl-link' %>
            <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ctrl-link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<%= link_to 'New Store', new_store_path %>
