<p id="notice"><%= notice %></p>

<h2>Store#<%= @store.id%></h2>

<div class="show-group">
  <h3>General</h3>
  <p>
    <strong>id:</strong>
    <%= @store.id %>
  </p>  
  <p>
    <strong>Name:</strong>
    <%= @store.name %>
  </p>  
</div>


<div class="show-group">
  <h3>Elastic Stacks</h3>
  <p>
    <strong>Elasticsearch host:</strong>
    <%= @store.elasticsearch_host %>
  </p>

  <p>
    <strong>Kibana host:</strong>
    <%= @store.kibana_host %>
  </p>  
</div>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path, class: 'w3-button w3-light-grey' %>
