<h2>Group#<%= @group.id %></h2>

<p id="notice"><%= notice %></p>

<div class="show-group">
  <h4>General</h4>
  <table>
    <tr>
      <th>ID</th>
      <td>#<%= @group.id %></td>
    </tr>
    
    <tr>
      <th>Name</th>
      <td><%= @group.name %></td>
    </tr>
  </table>
</div>

<div class="show-group">
  <h4>Receiver</h4>
  <table>
    <tr>
      <th>Receiver Host</th>
      <td><%= @group.receiver_host %></td>
    </tr>
    <tr>
      <th>Receiver Port</th>
      <td><%= @group.receiver_port %></td>
    </tr>
    <tr>
      <th>Receiver Heartbeat Url</th>
      <td><%= @group.receiver_heartbeat_url %></td>
    </tr>
    
  </table>
</div>

<div class="show-group">
  <h4>Kafka</h4>
  <table>
    <tr>
      <th>Zookeeper hosts</th>
      <td><%= @group.zookeeper_hosts %></td>
    </tr>
    <tr>
      <th>Kafka Broker Host</th>
      <td><%= @group.kafka_broker_hosts %></td>
    </tr>
    <tr>
      <th>Kafka Manager Host</th>
      <td><%= @group.kafka_manager_host %></td>
    </tr>
  </table>
</div>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
