<h2>Group#<%= @stream.id %></h2>

<p id="notice"><%= notice %></p>

<div class="show-group">
  <h3>General</h3>
  <p>
    <strong>id:</strong>
    #<%= @stream.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @stream.name %>
  </p>
</div>

<div class="show-group">
  <h3>Receiver</h3>
  <p>
    <strong>Receiver Host:</strong>
    <%= @stream.receiver_host %>
  </p>
  <p>
    <strong>Receiver Port:</strong>
    <%= @stream.receiver_port %>
  </p>
  <p>
    <strong>Receiver Heartbeat Url:</strong>
    <%= @stream.receiver_heartbeat_url %>
  </p>
</div>

<div class="show-group">
  <h3>Kafka</h3>
  <p>
    <strong>Zookeeper Hosts</strong>
    <%= @stream.zookeeper_hosts %>
  </p>
  <p>
    <strong>Kafka Broker Host</strong>
    <%= @stream.kafka_broker_hosts %>
  </p>
  <p>
    <strong>Kafka Manager</strong>
    <%= @stream.kafka_manager_host %>
  </p>
</div>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
