<h2>Client#<%= @client.id %></h2>
<p id="notice"><%= notice %></p>

<div class="show-group">
  <h3>General</h3>
  <p>
    <strong>id:</strong>
    <%= @client.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @client.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @client.description %>
  </p>
  <p>
    <strong>Heartbeat url:</strong>
    <%= @client.heartbeat_url %>
  </p>
  

</div>

<div class="show-group">
  <h3>Stream</h3>
  <p>
    <strong>Produce url:</strong>
    <%= @client.produce_url %>
  </p>
  <p>
    <strong>Stream:</strong>
    <%= @client.stream_id %>
  </p>
  <p>
    <strong>Kafka topics:</strong>
    <%= @client.kafka_topics %>
  </p>

  <p>
    <strong>Kafka topic partition:</strong>
    <%= @client.kafka_topic_partition %>
  </p>
</div>

<div class="show-group">
  <h3>Store</h3>
  <p>
    <strong>Store:</strong>
    <%= @client.store_id %>
  </p>
  <p>
    <strong>Kibana host:</strong>
    <%= @client.kibana_host %>
  </p>
</div>

<div class="show-group">
  <h3>Forwarder</h3>
  <p>
    <strong>Forwarder:</strong>
    <%= @client.forwarder_id %>
  </p>  
</div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path, class: 'w3-button w3-light-grey' %>
