<%= form_for(@forwarder) do |f| %>
  <% if @forwarder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forwarder.errors.count, "error") %> prohibited this forwarder from being saved:</h2>

      <ul>
      <% @forwarder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :host %><br>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :kafka_topics %><br>
    <%= f.text_field :kafka_topics %>
  </div>
  <div class="field">
    <%= f.label :heartbeat_url %><br>
    <%= f.text_field :heartbeat_url %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'w3-button w3-blue') %>
  </div>
<% end %>
