<h2>Forwarder#<%= @forwarder.id %></h2>
<p id="notice"><%= notice %></p>

<div class="show-group">
  <h3>General</h3>
  <p>
    <strong>id:</strong>
    <%= @forwarder.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @forwarder.name %>
  </p>
  <p>
    <strong>Host:</strong>
    <%= @forwarder.host %>
  </p>
  <p>
    <strong>Heartbeat url:</strong>
    <%= @forwarder.heartbeat_url %>
  </p>
  <p>
    <strong>Kafka topics:</strong>
    <%= @forwarder.kafka_topics %>
  </p>
</div>

<div class="show-group">
  <h3>Group</h3>
  <p>
    <strong>Group:</strong>
    <%= @forwarder.group_id %>
  </p>
  <p>
    <strong>Kafka broker hosts:</strong>
    <%= @forwarder.kafka_broker_hosts %>
  </p>
  <p>
    <strong>Zookeeper hosts:</strong>
    <%= @forwarder.zookeeper_hosts %>
  </p>
</div>

<div class="show-group">
  <h3>Store</h3>
  <p>
    <strong>Store:</strong>
    <%= @forwarder.store_id %>
  </p>
</div>

<%= link_to 'Edit', edit_forwarder_path(@forwarder) %> |
<%= link_to 'Back', forwarders_path %>
