<%= form_for(@databag) do |f| %>
  <% if @databag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_config.errors.count, "error") %> prohibited this service_config from being saved:</h2>

      <ul>
      <% @databag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :config_json %><br>
    <%= f.text_field :config_json %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit(class: 'w3-button w3-blue') %>
  </div>
<% end %>
