<p id="notice"><%= notice %></p>

<h1>Listing Databag</h1>

<table>
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Config json</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @databags.each do |databag| %>
      <tr>
        <td><%= databag.ip_address %></td>
        <td><%= databag.config_json %></td>
        <td><%= databag.tags %></td>
        <td><%= link_to 'Show', databag %></td>
        <td><%= link_to 'Edit', edit_databag_path(databag) %></td>
        <td><%= link_to 'Destroy', databag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service config', new_databag_path %>
