<p id="notice"><%= notice %></p>

<h1>Listing Databag</h1>

<div class="entities-panel">
  <table class="w3-table w3-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>IP Address</th>
        <th>Data</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @databags.each do |databag| %>
        <tr>
          <td><%= databag.id %></td>
          <td><%= databag.ip_address %></td>
          <td><%= JSON.unparse(databag.data) %></td>
          <td><%= databag.tags %></td>
          <td>
            <%= link_to 'Show', databag, class: 'ctrl-link' %>
            <%= link_to 'Edit', edit_databag_path(databag), class: 'ctrl-link' %>
            <%= link_to 'Destroy', databag, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ctrl-link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Service config', new_databag_path %>
